In [2]:
from sklearn.cluster import KMeans
from sklearn import preprocessing
import pandas as pd
import numpy as np

In [3]:
# 输入数据
data = pd.read_csv('./data.csv', encoding='GBK')

In [5]:
train_x = data[['2019年国际排名', '2018世界杯', '2015亚洲杯']]

In [6]:
df = pd.DataFrame(train_x)

In [8]:
kmeans = KMeans(n_clusters=3)

In [9]:
# 规范到[0, 1]空间
min_max_scaler = preprocessing.MinMaxScaler()
train_x = min_max_scaler.fit_transform(train_x)

In [10]:
# kmeans算法
kmeans.fit(train_x)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [11]:
predict_y = kmeans.predict(train_x)

In [14]:
# 合并聚类结果，插入到原数据中
result = pd.concat((data, pd.DataFrame(predict_y)), axis=1)
result.rename({0: '聚类'}, axis=1, inplace=True)

In [15]:
result

        国家  2019年国际排名  2018世界杯  2015亚洲杯  聚类
0       中国         73       40        7   2
1       日本         60       15        5   1
2       韩国         61       19        2   1
3       伊朗         34       18        6   1
4       沙特         67       26       10   1
5      伊拉克         91       40        4   2
6      卡塔尔        101       40       13   0
7      阿联酋         81       40        6   2
8   乌兹别克斯坦         88       40        8   2
9       泰国        122       40       17   0
10      越南        102       50       17   0
11      阿曼         87       50       12   0
12      巴林        116       50       11   0
13      朝鲜        110       50       14   0
14      印尼        164       50       17   0
15      澳洲         40       30        1   1
16     叙利亚         76       40       17   0
17      约旦        118       50        9   0
18     科威特        160       50       15   0
19    巴勒斯坦         96       50       16   0